<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Personal_Packages" value="C:\Users\tormo\source\repos\MyNotesServerPart\Packages" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Relational" />
      <package pattern="Microsoft.Extensions.Caching.Abstractions" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Configuration.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Microsoft.Extensions.ApiDescription.Server" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.Swagger" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
    </packageSource>
    <packageSource key="Personal_Packages">
      <package pattern="Database.Data" />
      <package pattern="Utils" />
    </packageSource>
  </packageSourceMapping>
</configuration>